// hack because in our version of docs the navbar-brand__name class is missing
.navbar-logo + span {
    display: none;
    max-height: 5rem;
}

.full-fieldmapp-logo {
    max-height: 22rem;
    max-width: 60%;
    margin-bottom: 1rem;
}
