// done because in our version of docs the navbar-brand__name class is missing
.navbar-logo + span {
    display: none;
}

.full-fieldmapp-logo {
    max-height: 15rem;
    max-width: 60%;
    margin-bottom: 1rem;
}