+++
title = "FieldMApp"

+++

{{< blocks/cover image_anchor="top" height="full" color="orange" >}}
<img src="/logos/full-logo.svg" class="full-fieldmapp-logo" />
<div class="mx-auto">
	<p class="lead mt-5">A modular solution for mobile applications</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Dokumentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
This website is still under construction. 

In the future you will find the official documentation for developers, project managers and users.

{{% /blocks/lead %}}
	
{{% blocks/lead color="primary" %}}
The development of the FieldMApp is realized as a part of the research projects <b>AgriSens – DEMMIN 4.0</b> (grant no. 28-D-E1.14-B18 of the BMEL), <b>Biophys DEMMIN</b> (grant no. D/943/67250243 of the DLR) and <b>Ökosystem Wald/Roda</b> (grant no. D/943/67250303 of the DLR)
<br>
<div class="support-figure"> 
	<img src="/supporters/Logo_BMEL_BLE_en.png"
	     class="support-figure"/>
</div>
{{% /blocks/lead %}}
