+++
title = "FieldMApp"

+++

{{< blocks/cover image_anchor="top" height="full" color="orange" >}}
<img src="/logos/full-logo.svg" class="full-fieldmapp-logo" />
<div class="mx-auto">
	<p class="lead mt-5">Eine modulare Lösung für mobile Anwendungen</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Dokumentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}
Diese Website befindet sich im Moment noch im Aufbau. 

In Zukunft findet sich hier die offiziele Dokumentation für Entwickler, Projektmanager und Nutzer.
{{% /blocks/lead %}}

{{% blocks/lead color="dark" %}}
TODO: Kurzvorstellung FieldMApp
- was leistet die FieldMApp
- Hinweis auf detaillierte Infos
    - Link zu Dokumentation und zu Veröffentlichungen
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}
TODO: Zitationshinweis
{{% /blocks/lead %}}

{{% blocks/lead color="primary" %}}
TODO: Verweis auf Lizenz unter der veröffentlicht wird
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}
Die Entwicklung der FieldMApp wurde bzw. wird als der Teil der Forschungsprojekte <b>AgriSens – DEMMIN 4.0</b> (FKZ 28-D-E1.14-B18 des BMEL), <b>Biophys DEMMIN</b> (FKZ D/943/67250243 des DLR) und <b>Ökosystem Wald/Roda</b> (D/943/67250303 des DLR) gefördert.
{{% /blocks/lead %}}
