+++
title = "FieldMApp"

+++

{{< blocks/cover image_anchor="top" height="full" color="orange" >}}
<img src="/logos/full-logo.svg" class="full-fieldmapp-logo" />
<div class="mx-auto">
	<p class="lead mt-5">Eine modulare Lösung für mobile Anwendungen</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Dokumentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
_Diese Website befindet sich im Moment noch im Aufbau. 
Hier wir nach und nach die offiziele Dokumentation zur FieldMApp entstehen - für Entwickler:innen, Projektmanager:innen und Nutzer:innen._
<br>
<br>

Die FieldMApp ist eine mobile Anwendung, die Zugang zu offenen Daten ermöglicht und innovative Lösungen für die Digitalisierung in der Landwirtschaft bereithält.
Die Anwendung ist eine benutzerfreundliche Softwarelösung, die in enger Zusammenarbeit mit Landwirt:innen und landwirtschaftlichen Berater:innen entwickelt wird. 
<br>
Die Anwendungsszenarien reichen schon jetzt von der Kartierung von Minderertragsflächen während der Feldbewirtschaftung, über die Erfassung von Pflanzenwachstumsinformationen, bis hin zur Kartierung von Bestandsmerkmalen. Zudem hält die FieldMApp Funktionalitäten eines mobilen Geoinformationssytems (GIS) bereit, das die Erhebung, Bearbeitung und Visualisierung von Geodaten ermöglicht. Die GIS-Funktionalität können sowohl on- als auch offline genutzt werden. In Verbindung mit einem externen (kostengünstigen) differentiellen Globalen-Navigation-Satellite-System (dGNSS)-Sensor können Kartierungs- und Digitalisierungsaufgaben auch an Standorten mit begrenztem Internetzugang zentimetergenau durchgeführt werden.
<br>
Durch die FieldMApp werden verschiedene offene Geodaten und Fernerkundungsprodukte zur Verfügung gestellt. Diese können während der gesamten Vegetationsperiode zur Unterstützung der Planung von pflanzenbaulichen Bewirtschaftungsmaßnahmen und deren Umsetzung genutzt werden. 
<br>
Die FieldMApp wird als Open-Source-Software bereitgestellt und stetig weiterentwickelt. Dadurch kann sie flexibel für diverse Einsatzzwecke angepasst werden.


Weitere Detailinformationen zur Nutzung und den Anwendungsfällen finden Sie in der <a href="https://fieldmapp.github.io/docs/">Dokumentation</a> und in den <a href="https://fieldmapp.github.io/publications/">Veröffentlichungen</a> zur FieldMApp.

{{% /blocks/lead %}}

{{% blocks/lead color="dark" %}}
Zitationshinweise finden Sie zu den themenspezifisch auf den jeweiligen Seiten in der <a href="https://fieldmapp.github.io/docs/">Dokumentation</a>.
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}
Die Dokumentation zur FieldMApp ist unter der Lizenz CC BY 4.0 veröffentlicht. 
<br>
Der Source-Code zur FieldMApp unterliegt der Eclipse Public License Version 2.0 (EPL-2.0).
{{% /blocks/lead %}}

{{% blocks/lead color="primary" %}}
Die Entwicklung der FieldMApp wurde bzw. wird als der Teil der Forschungsprojekte <b>AgriSens – DEMMIN 4.0</b> (FKZ 28DE114B18, 28DE114C18, 28DE114B22 und 28DE114C22 des BMEL), <b>Biophys DEMMIN</b> (FKZ D/943/67250243 des DLR) und <b>Ökosystem Wald/Roda</b> (FKZ D/943/67250303 des DLR) gefördert.
<br>
<div class="support-figure"> 
	<img src="/supporters/DLR_Signet.svg"
	     class="support-figure"/>
	<img src="/supporters/Logo_BMEL_BLE_de.png"
	     class="support-figure"/>
</div>

{{% /blocks/lead %}}
